.main-footer{
    /* color: white;
    background-color: rgb(18, 185, 240);
    padding-top: 3em;
    position: relative;
    bottom: 0;
    float: left; */
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(18, 185, 240);
    justify-content: space-around;

}
.main-footer li {
    list-style-type: none;
}


.col {
    text-align: left;
}

