.main-footer {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

.main-footer li {
  list-style-type: none;
}

.titles {
  font-family: "Courier New", monospace;
  color: black;
  font-weight: bold;
  font-size: large;
  justify-content: center;
}

.style-bar {
  width: 100%;
  height: 15px;
  border-style: none;
  background-color: #fa8334;
}

.col {
  width: 32%;
  display: inline-block;
}

.list-unstyled {
  padding: 0;
  font-family: "Courier New", monospace;
}

.info {
  justify-content: space-around;
  display: flex;
}
.row p {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .col {
    width: 100%;
  }
  .info {
    display: unset;
    text-align: center;
  }
}
