.header-name {
  padding-left: 30px;
  font-family: "Stencil Std", fantasy;
  color: darkslategray;
}

.header-slogan {
  padding-right: 30px;
  font-family: "Courier New", monospace;
  color: black;
}
.header {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.style-bar {
  width: 100%;
  height: 15px;
  border-style: none;
  background-color: #388697;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last {
  justify-content: center;
}
