.header-name{
  padding-left: 30px;
}

.header-slogan {
    padding-right: 30px;

  
}
.header{
    background-color: rgb(18, 185, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;

}