.products-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label1 {
  font-size: large;
  color: darkslategray;
  font-family: "Stencil Std", fantasy;
}

.pro-per-page {
  background-color: lightblue;
  height: 30px;
  width: 60px;
  font-family: "Stencil Std", fantasy;
}

.space-v {
  height: 60px;
}

.space-h {
  width: 20px;
}
